*{
    margin: 0;
    padding: 0;
}
.row{
    margin-top: 50px;
    margin-left: 20px;
}
.col{
    margin-left: 20px;
}
.form-label{
    margin-right: 10px;
}
.col2-3{
    margin-top: 30px;
}
/* .form-check{
    margin: 0px;
} */